.feynman {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 890px;
    background-color: #f2f2f2;
}

.feynman__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 867px;
    height: 637px;
    background-size: contain;
}

.feynman__title {
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin: 100px auto 70px;
    padding: 0;
    width: 648px;
    z-index: 1;
}

.feynman__subtitle {
    text-align: center;
    margin: 0;
    padding: 0;
    top: 70px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 1;
}

.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
}